// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 *
 * Device Tree Source for the X88 Pro 13 TV box
 *
 * Board: X88PRO13-D4-V1.4 (Hugsun)
 * SoC:   Rockchip RK3528
 * RAM:   4 GiB DDR4
 * Storage: 128 GiB eMMC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/soc/rockchip,boot-mode.h>
#include <dt-bindings/soc/rockchip-system-status.h>
#include <dt-bindings/suspend/rockchip-rk3528.h>
#include <dt-bindings/thermal/thermal.h>
#include "rk3528.dtsi"

/ {
	model = "X88 Pro 13";
	compatible = "hugsun,x88pro13", "rockchip,rk3528";

	aliases {
		ethernet0 = &gmac1;
		mmc0 = &sdmmc;
		mmc1 = &sdhci;
	};

	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff9f0000 console=ttyS0,1500000";
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>;
		interrupts = <GIC_SPI 186 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0m0_xfer>;
		status = "disabled";
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
		status = "okay";

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <1750>;
		};
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	vdd_0v9_s3: vdd-0v9-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_1v8_s3: vdd-1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_3v3_s3: vcc-3v3-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_ddr_s3: vcc-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_logic: vdd-logic {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 1>;
		regulator-name = "vdd_logic";
		regulator-min-microvolt = <705000>;
		regulator-max-microvolt = <1006000>;
		regulator-init-microvolt = <950000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vdd_cpu: vdd-cpu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <746000>;
		regulator-max-microvolt = <1201000>;
		regulator-init-microvolt = <953000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vccio_sd: vccio-sd {
		compatible = "regulator-gpio";
		regulator-name = "vccio_sd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		states = <1800000 0x0
			  3300000 0x1>;
	};

	vcc_sd: vcc-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sd";
		regulator-boot-on;
		gpio = <&gpio4 RK_PA1 GPIO_ACTIVE_LOW>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6255";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio1 RK_PA7 GPIO_ACTIVE_HIGH>;
		WIFI,reset_gpio = <&gpio1 RK_PA6 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart2m1_rtsn>;
		pinctrl-1 = <&uart2m1_gpios>;
		BT,reset_gpio = <&gpio1 RK_PC1 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	skykirin_led: skykirin-led {
		compatible = "skykirin-ht1628";
		pinctrl-names = "default";
		pinctrl-0 = <&ht1628_pins>;
		spi_cs = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		spi_clk = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		spi_data = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&ir_led &pwr_green_led>;

		ir {
			gpios = <&gpio4 RK_PB7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "on";
		};

		pwr-green {
			gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
			retain-state-suspended;
			retain-state-shutdown;
		};
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h &clkm1_32k_out>;
	};

	hdmi_sound: hdmi-sound {
		compatible = "rockchip,hdmi";
		rockchip,mclk-fs = <128>;
		rockchip,card-name = "rockchip,hdmi";
		rockchip,cpu = <&sai3>;
		rockchip,codec = <&hdmi>;
		rockchip,jack-det;
		status = "okay";
	};

	acodec_sound: acodec-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "rk3528-acodec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};

		simple-audio-card,codec {
			sound-dai = <&acodec>;
		};
	};

	spdif_sound: spdif-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "ROCKCHIP,SPDIF";
		simple-audio-card,mclk-fs = <128>;

		simple-audio-card,cpu {
			sound-dai = <&spdif_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	spdif_out: spdif-out {
		status = "okay";
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		drm_logo: drm-logo@0 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0 0x0 0x0>;
		};

		drm_cubic_lut: drm-cubic-lut@0 {
			compatible = "rockchip,drm-cubic-lut";
			reg = <0x0 0x0 0x0 0x0>;
		};

		ramoops: ramoops@110000 {
			compatible = "ramoops";
			reg = <0x0 0x110000 0x0 0xe0000>;
			boot-log-size = <0x8000>;
			boot-log-count = <1>;
			console-size = <0x80000>;
			pmsg-size = <0x30000>;
			ftrace-size = <0x0>;
			record-size = <0x14000>;
		};
	};
};

&acodec {
	status = "okay";
	pa-ctl-gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
};

&avsd {
	status = "okay";
};

&combphy_pu {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&crypto {
	status = "okay";
};

&dfi {
	status = "okay";
};

&display_subsystem {
	status = "okay";
	memory-region = <&drm_logo>, <&drm_cubic_lut>;
	memory-region-names = "drm-logo", "drm-cubic-lut";

	route {
		route_hdmi: route-hdmi {
			status = "okay";
			logo,uboot = "logo.bmp";
			logo,kernel = "logo_kernel.bmp";
			logo,mode = "center";
			charge_logo,mode = "center";
			connect = <&vp0_out_hdmi>;
		};

		route_tve: route-tve {
			status = "okay";
			logo,uboot = "logo.bmp";
			logo,kernel = "logo_kernel.bmp";
			logo,mode = "center";
			charge_logo,mode = "center";
			connect = <&vp1_out_tve>;
		};
	};
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&gmac0 {
	status = "disabled";
};

&gmac1 {
	status = "okay";
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";
	snps,reset-gpio = <&gpio4 RK_PB5 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;
	tx_delay = <0x30>;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_miim &rgmii_tx_bus2 &rgmii_rx_bus2
		     &rgmii_rgmii_clk &rgmii_rgmii_bus>;
	phy-handle = <&rgmii_phy>;
};

&mdio1 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&gpu {
	mali-supply = <&vdd_logic>;
	status = "okay";
};

&hdmi {
	status = "okay";
	hpd-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmiphy {
	status = "okay";
};

&i2c1 {
	status = "okay";
	i2c-scl-rising-time-ns = <100>;
	i2c-scl-falling-time-ns = <30>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m0_xfer>;

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		pinctrl-names = "default";
		pinctrl-0 = <&rtc_irq>;
		irq_gpio = <&gpio4 RK_PB2 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&pwm1 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm1m0_pins>;
};

&pwm2 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm2m0_pins>;
};

&pwm3 {
	compatible = "rockchip,remotectl-pwm";
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3m0_pins>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
};

&rga2 {
	status = "okay";
};

&rga2_mmu {
	status = "okay";
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&rkvtunnel {
	status = "okay";
};

&rng {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
	rockchip,virtual-poweroff = <1>;
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMPD
		)
	>;
	rockchip,wakeup-config = <
		(0
		| RKPM_CPU0_WKUP_EN
		| RKPM_GPIO_WKUP_EN
		)
	>;
	rockchip,pwm-regulator-config = <
		(0
		| RKPM_PWM1_M0_REGULATOR_EN
		)
	>;
};

&rockchip_system_monitor {
	status = "okay";
	rockchip,thermal-zone = "soc-thermal";
};

&saradc {
	status = "okay";
	vref-supply = <&vdd_1v8_s3>;
};

&sdhci {
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	max-frequency = <200000000>;
	status = "okay";
	fixed-emmc-driver-type = <4>;
};

&sdio0 {
	max-frequency = <200000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	no-mmc;
	no-sd;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4 &sdio0_clk &sdio0_cmd>;
	sd-uhs-sdr104;
	supports-sdio;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_det &sdmmc_bus4>;
	rockchip,default-sample-phase = <90>;
	supports-sd;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vqmmc-supply = <&vccio_sd>;
	vmmc-supply = <&vcc_sd>;
	status = "okay";
};

&tsadc {
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "host";
	phys = <&u2phy_otg>, <&combphy_pu PHY_TYPE_USB3>;
	phy-names = "usb2-phy", "usb3-phy";
	phy_type = "utmi_wide";
	snps,dis_enblslpm_quirk;
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
	snps,dis-u2-freeclk-exists-quirk;
	snps,dis-del-phy-power-chg-quirk;
	snps,dis-tx-ipgap-linecheck-quirk;
	snps,dis_rxdet_inp3_quirk;
	snps,parkmode-disable-hs-quirk;
	snps,parkmode-disable-ss-quirk;
	quirk-skip-phy-init;
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m1_xfer &uart2m1_ctsn>;
};

&vdpp {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&sai2 {
	status = "okay";
};

&sai3 {
	status = "okay";
};

&spdif_8ch {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spdifm0_pins>;
};

&pinctrl {
	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		uart2m1_gpios: uart2m1-gpios {
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hym8563-irq {
		rtc_irq: rtc-irq {
			rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	skykirin-led {
		ht1628_pins: ht1628-pins {
			rockchip,pins = <4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>,
					<4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>,
					<4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio-leds {
		ir_led: ir-led {
			rockchip,pins = <4 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pwr_green_led: pwr-green-led {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
