// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2026 flippy (flippy@sina.com)
 */

#include "rv1126b-xiaoyu-50ipc.dts"

/*
 * csi2_dphy0 -> csi0(rx0) clk0 + 4 lane ==> imx415_0
 *                           or + 2 lane ==> sc450ai_0
 * csi2_dphy1 -> csi0(rx0) clk0 + 2 lane 0/1
 * csi2_dphy2 -> csi0(rx0) clk1 + 2 lane 2/3
 * csi2_dphy3 -> csi1(rx1) clk0 + 4 lane ==> imx415_1
 *                           or + 2 lane ==> sc450ai_1
 * csi2_dphy4 -> csi1(rx1) clk0 + 2 lane 0/1
 * csi2_dphy5 -> csi1(rx1) clk1 + 2 lane 2/3
 */
&csi2_dphy3 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy3_input1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&sc450ai_1_out>;
				data-lanes = <1 2>;
			};

			csi_dphy3_input2: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&gc8613_1_out>;
				data-lanes = <1 2 3 4>;
			};

			csi_dphy3_input3: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&sc235hai_1_out>;
				data-lanes = <1 2>;
			};

			csi_dphy3_input4: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&imx415_1_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy3_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi2_csi2_input>;
			};
		};
	};
};

/* sensor1 */
&i2c4 {
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c4m2_pins>;
	status = "okay";

	sc450ai_1: sc450ai_1@30 {
		compatible = "smartsens,sc450ai";
		reg = <0x30>;
		clocks = <&cru CLK_MIPI1_OUT2IO>;
		clock-names = "xvclk";

		reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk1_pins>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CRK4F4209";
		rockchip,camera-module-lens-name = "styleTstP0";
		status = "okay";

		port {
			sc450ai_1_out: endpoint {
				remote-endpoint = <&csi_dphy3_input1>;
				data-lanes = <1 2>;
			};
		};
	};

	gc8613_1: gc8613_1@31 {
		compatible = "galaxycore,gc8613";
		reg = <0x31>;
		clocks = <&cru CLK_MIPI1_OUT2IO>;
		clock-names = "xvclk";

		reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk1_pins>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "xiaoyu";
		rockchip,camera-module-lens-name = "50ipc";
		status = "okay";

		port {
			gc8613_1_out: endpoint {
				remote-endpoint = <&csi_dphy3_input2>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	sc235hai_1: sc235hai_1@30 {
		compatible = "smartsens,sc235hai";
		reg = <0x30>;
		clocks = <&cru CLK_MIPI1_OUT2IO>;
		clock-names = "xvclk";

		reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk1_pins>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "xiaoyu";
		rockchip,camera-module-lens-name = "50ipc";
		status = "okay";

		port {
			sc235hai_1_out: endpoint {
				remote-endpoint = <&csi_dphy3_input3>;
				data-lanes = <1 2>;
			};
		};
	};

	imx415_1: imx415_1@37 {
		compatible = "sony,imx415";
		reg = <0x37>;
		clocks = <&cru CLK_MIPI1_OUT2IO>;
		clock-names = "xvclk";

		reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_LOW>;
		power-gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk1_pins>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "xiaoyu";
		rockchip,camera-module-lens-name = "50ipc";
		status = "okay";

		port {
			imx415_1_out: endpoint {
				remote-endpoint = <&csi_dphy3_input4>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&mipi2_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy3_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in2>;
			};
		};
	};
};

&rkcif_mipi_lvds2 {
	status = "okay";

	port {
		cif_mipi_in2: endpoint {
			remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds2_sditf {
	status = "okay";

	port {
		mipi_lvds2_sditf: endpoint {
			remote-endpoint = <&isp_vir1>;
		};
	};
};

&rkisp_vir1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds2_sditf>;
		};
	};
};

&rkisp_vir1_sditf {
	status = "okay";
};

&rkvpss_vir1 {
	status = "okay";
};
